
// typography

// font size - unitless - @include font-size(16)
@mixin font-size($font-size: $base-font-size) {
  $rem: ($font-size / $base-font-size);

  font-size: $font-size * 1px;
  font-size: #{$rem}rem; // sass-lint:disable-line no-duplicate-properties
}

// unitless line height mixin
@mixin line-height($font-size, $line-height: $font-size) {
  line-height: ($line-height / $font-size);
}

// text truncate - requires inline-block or block for proper styling
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// layout

@mixin center-content() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// transitions

// scale down
@mixin scale-down($time: 1s) {
  animation: scaleDown $time ease-out 1;
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.95);
  }

  100% {
    transform: scale(1);
  }
}

// scale up
@mixin scale-up($time: 1s) {
  animation: scaleUp $time ease-in-out 1;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

// fadein
@mixin fade-in($time: 1s) {
  animation: fadeIn $time ease-out 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// fadeout
@mixin fade-out($time: 1s) {
  animation: fadeOut $time ease-out 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// slide in down and fadein
@mixin slide-in-down($time) {
  animation: slideInDown $time ease-in-out;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  75% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

// slide in up and fadein
@mixin slide-in-up($time) {
  animation: slideInUp $time ease-in-out;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  75% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

// slide in from right and fadein
@mixin slide-in-right($time) {
  animation: slideInRight $time ease-out backwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  75% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

// slide in form left and fadein
@mixin slide-in-left($time) {
  animation: slideInRight $time ease-out backwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  75% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

// expand down
@mixin expand-down($time) {
  animation: expandDown $time ease-out backwards;
}

@keyframes expandDown {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 500px;
  }
}
