@import '../../styles/global';

.form {

  &__item {
    text-align: left;

    label {
      @include fade-in(.5s);
      @include font-size(14);

      align-self: flex-start;
      margin: 5px 0 0;
      font-weight: bold;
    }

    &__inner {
      position: relative;

      p {
        margin: 0;
      }
    }
  }

  &__status {
    @include fade-in(.5s);
    @include font-size(12);

    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 1;
    padding: 5px;
    color: color(default, light);
    font-weight: bold;

    &::after {
      position: absolute;
      bottom: 100%;
      left: calc(100% - 15px);
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      content: '';
    }

    &--error {
      background-color: color(status, danger);

      &::after {
        border-color: transparent transparent color(status, danger);
      }
    }

    &--success {
      background-color: color(status, neutral);

      &::after {
        border-color: transparent transparent color(status, neutral);
      }
    }
  }
}
