@import '../../../styles/global';

.onboarding {

  &__steps {

    &__rooms {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;

      &__container {
        position: relative;
        flex: 1 1 33%;
        background-color: transparent;
        color: color(default, light);

        input {
          opacity: 0;

          &:checked + label,
          &:focus + label {
            outline: 2px dashed color(default, light);
          }
        }
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 100%;
        height: 100%;

        &:focus,
        &:hover {
          background-color: color(default, light);
          color: color(primary, base);

          img { filter: brightness(.1); }
        }

        img {
          max-width: 70%;
          max-height: 50%;
          filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .43));
        }

        p {
          @include font-size(18);
        }
      }
    }
  }
}
