input,
textarea,
button {
  @include font-size(16);

  margin: 5px 0;
  border: 0;
  padding: 10px;
  width: 100%;
  font-family: $base-font;

  @media (max-width: $break-sm) {
    @include line-height(14, 18);
    @include font-size(14);
  }
}

input,
textarea {
  background-color: color(secondary, light);
}

button {
  background-color: color(primary, base);
  cursor: pointer;
  color: color(default, light);
  font-weight: bold;

  &:disabled {
    background-color: color(primary, light);
  }
}
