input,
textarea,
button {
  @include font-size(16);

  margin: 5px 0;
  padding: 10px;
  border: 0;
  width: 100%;
  font-family: $base-font;
}

input,
textarea {
  background-color: color(secondary, light);
}

button {
  font-weight: bold;
  background-color: color(primary, base);
  color: color(default, light);
  cursor: pointer;
}