.u-margin-hug {
  &--vert {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--top { margin-top: 0; }

  &--bottom { margin-bottom: 0; }
}

.u-text-bold {
  font-weight: bold;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-list-unstyled {
  padding-left: 0;
  list-style: none;
}
