@import '../../../styles/global';

.onboarding {

  &__steps {

    &__quiz {
      display: flex;
      justify-content: space-between;

      @media (max-width: 750px) { flex-direction: column; }

      &__button {
        box-sizing: content-box;
        border: 5px solid transparent;
        padding: 0;
        background: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 48%;
        height: 50vh;

        @media (max-width: 750px) {
          width: 100%;
          height: 25vh;
        }

        &:focus,
        &:hover { border: 5px solid color(default, dark); }
      }
    }
  }
}