@import '../../../styles/global';

.details {

  &__collab {

    &__menu {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      box-shadow: $box-shadow;
      background-color: color(default, light);
      padding: 10px;
      width: 90px;

      &__button {
        @include font-size(11);

        background-color: color(default, light);
        padding: 0;
        width: 70px;
        height: 75px;
        color: color(primary, light);

        &:not(:last-child) {
          border-bottom: .5px solid rgba(color(primary, base), .5);
        }

        img {
          padding: 10px;
          width: 70px;
          height: 50px;
          object-fit: contain;
          filter: opacity(50%);
        }

        &--active {
          color: $text-color;

          img {
            filter: opacity(100%);
          }
        }
      }
    }
  }
}
