@import '../../styles/global';

.collab {

  &__workzone {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: url('../../assets/images/layout/collab_workzone.png') no-repeat center;
    background-size: cover;
    padding: 20px;
    min-height: 500px;
  }
}
