@import '../../styles/global';

.dashboard {

  &__container {
    background-color: color(secondary, base);
    padding: 20px;
    width: 100%;
    min-height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    background-color: color(primary, base);
    padding: 10px 30px;
    color: color(default, light);
    font-weight: bold;

    @media (max-width: $break-md) {
      display: none;
    }

    & > * {
      &:not(:first-child) {
        flex: 1;
        text-align: center;
      }

      &:last-child {
        text-align: right;
      }
    }

    img {
      max-width: 45px;
    }
  }

  &__projects {
    margin-top: 20px;

    &__item {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: flex-end;
      transition: box-shadow .5s;
      margin: 10px 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
      background-color: color(default, light);
      padding: 10px 30px;
      font-weight: bold;

      @media (max-width: $break-md) {
        flex-wrap: wrap;
        padding: 20px;
      }

      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .45);
        text-decoration: none;
      }

      &__image {
        background-color: color(secondary, dark);
        width: 50px;

        img {
          padding: 7.5px;
          width: 50px;
          height: 50px;
          object-fit: contain;
          filter: brightness(.25);
        }
      }

      &__chat {

        @media (max-width: $break-md) {
          position: absolute;
          top: 20px;
          right: 20px;
        }

        img {
          width: 35px;
          height: 35px;
          object-fit: contain;
        }
      }

      &__hint {
        display: none;
        color: color(primary, lighter);

        @media (max-width: $break-md) {
          display: block;
        }
      }

      &__desktop {
        display: block;

        @media (max-width: $break-md) {
          display: none;
        }
      }

      &__mobile {
        display: none;

        @media (max-width: $break-md) {
          display: inline-block;
          margin: 20px 0;
        }
      }

      & > * {
        &:not(:first-child) {
          flex: 1;
          text-align: center;
        }

        &:last-child {
          text-align: right;
        }

        @media (max-width: $break-md) {
          &:not(:first-child) {
            text-align: left;
          }

          &:first-child {
            flex: 1 100%;
          }

          &:nth-child(2) {
            flex: 1 100%;
          }
        }
      }
    }
  }
}
