@import '../../styles/global';

.onboarding {
  display: flex;
  background: url('../../assets/images/layout/onboarding.png') no-repeat top center fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;

  &__container {
    display: flex;
    background-color: rgba(color(primary, base), .5);
    padding: 102px 20px 20px;
    width: 100%;
    min-height: 100%;
  }

  &__welcome {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    text-align: center;
    color: color(default, light);

    &__headline {
      font-weight: bold;
    }

    &__button {
      border: 2px solid color(default, light);
      background-color: transparent;

      &:focus,
      &:hover {
        border-color: color(default, dark);
        background-color: color(default, dark);
      }
    }
  }
}
