@import '../../styles/global';

.details {

  &__container {
    background-color: color(secondary, base);
    width: 100%;
    min-height: 100%;

    .collab {

      &__workzone {
    
        @media (max-width: $break-md) {
          padding-bottom: 90px;
        }
      }
    }
  }
}
