@import '../../styles/global';

.loading {
  @include center-content();

  width: 100%;
  min-height: 100vh;

  &__container {
    width: 100%;
    min-height: 100%;
  }

  &__content {
    text-align: center;
  }

  &__image {
    width: 70px;
  }

  &__status {
    color: color(default, light);
  }
}
