@import '../../styles/global';

.collab {

  &__map {
    width: 100%;

    &.leaflet-container {
      background: transparent;
      overflow: visible;
    }

    .leaflet-control-zoom {
      border-radius: 0;

      &.leaflet-touch,
      &.leaflet-bar {
        border: 0;
        box-shadow: $box-shadow;
      }

      &.leaflet-control {
        margin: 0;
      }
    }

    .leaflet-image-layer {
      box-shadow: $box-shadow-light;
    }

    .leaflet-popup-content-wrapper {
      border-radius: 0;
    }

    &__marker {
      border-radius: 50%;
      box-shadow: $box-shadow;
      background-color: color(status, neutral);
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: color(default, light);
      font-weight: bold;
    }
  }
}
