@import '../../styles/global';

.collab {

  &__alert {
    @include fade-in(.5s);

    box-shadow: $box-shadow;
    background-color: color(default, light);
    padding: 20px;
    max-width: 500px;
    text-align: center;
  }
}
