@import '../../../styles/global';

.onboarding {

  &__steps {

    &__container {
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      max-width: 1440px;
    }

    &__header,
    &__subheader {
      margin-bottom: 20px;
      background-color: color(primary, base);
      padding: 20px;
      width: 100%;
      color: color(default, light);
     }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;

      &__nav {
        @include font-size(14);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        img {
          margin-top: -2px;
          margin-right: 5px;
          width: 9px;
        }

        button {
          margin-top: 0;
          padding: 0;
          width: auto;
          text-align: right;
        }
      }
    }

    &__questions {
      margin: auto;
      background-color: color(default, light);
      padding: 30px;
      max-width: $break-sm;

      &__form {
        
        &__item {
          position: relative;

          input {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            &:checked + label,
            &:focus + label,
            &:hover + label {
              background-color: color(primary, base);
              color: color(default, light);
            }
          }

          label {
            display: block;
            margin: 10px 0;
            border: 2px solid color(primary, base);
            cursor: pointer;
            padding: 10px;
            width: 100%;
          }
        }
      }
    }
  }
}
